<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>前后端混合 Demo</title>
    <link rel="stylesheet" href="{{ asset('dist/css/chunk-vendors.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}">
    <style>
        [v-cloak] {
            display: none;
        }

        .content {
            margin: 100px auto;
            width: 1200px;
        }
    </style>
</head>
<body>
<div id="app" v-cloak>
    <app-item></app-item>
    <div class="content">
        <h1>Element UI 示例</h1>
        <div>
            <el-button>默认按钮</el-button>
            <el-button type="primary">主要按钮</el-button>
            <el-button type="success">成功按钮</el-button>
            <el-button type="info">信息按钮</el-button>
            <el-button type="warning">警告按钮</el-button>
            <el-button type="danger">危险按钮</el-button>
        </div>
    </div>
</div>
</body>
<script src="{{ asset('dist/js/chunk-vendors.js') }}"></script>
<script src="{{ asset('dist/js/main.js') }}"></script>
<script>
    let app = new Vue({
        el: "#app",
        data() {
            return {
                msg: "Hello Vue"
            }
        }
    })
</script>
</html>